<h2>MEGACOUNTRY</h2>
<h2>Week Over Week</h2>

<%= @LW %> to <%= @today %> &nbsp;&nbsp;<strong>vs</strong>&nbsp;&nbsp; <%= @LW2 %> to <%= @LW3 %>
<br><br>
<table class="table">

  <th></th><th>This Week</th><th>Last Week</th><th>% Change</th>

  <tr class= <%= @TYrow_color %>>
    <td>Visits: </td>
    <td> <%= number_with_delimiter(@tyVisits.round, :delimiter => ',') %>  </td>
    <td> <%= number_with_delimiter(@lyVisits.round, :delimiter => ',') %> </td>
    <td> <%= (((@tyVisits - @lyVisits) / @lyVisits) *100).round(2) %>% </td>
  </tr>

  <tr class= <%= @UVrow_color %>>
    <td>Unique Visitors: <br> <strong>**this is not working right now, <br>please check GA!</strong></td>
    <td> <%= number_with_delimiter(@tyUniqueVisitors.round, :delimiter => ',') %> </td>
    <td> <%= number_with_delimiter(@lyUniqueVisitors.round, :delimiter => ',') %> </td>
    <td> <%= (((@tyUniqueVisitors - @lyUniqueVisitors) / @lyUniqueVisitors)*100).round(2) %>% </td>
  </tr>

  <tr class= <%= @PVrow_color %>>
    <td>Pageviews: </td>
    <td> <%= number_with_delimiter(@tyPageviews.round, :delimiter => ',') %> </td>
    <td> <%= number_with_delimiter(@lyPageviews.round, :delimiter => ',') %> </td>
    <td> <%= (((@tyPageviews - @lyPageviews) / @lyPageviews)*100).round(2) %>% </td>
  </tr>

  <tr class= <%= @PHrow_color %>>
    <td>Photo Views: </td>
    <td> <%= number_with_delimiter(@tyPhotoViews.round, :delimiter => ',') %>  </td>
    <td> <%= number_with_delimiter(@lyPhotoViews.round, :delimiter => ',') %> </td>
    <td> <%= (((@tyPhotoViews - @lyPhotoViews) / @lyPhotoViews)*100).round(2) %>% </td>
  </tr>

    <tr class= <%= @PPVrow_color %>>
    <td>Pageviews Per Visit: </td>
    <td> <%= @tyPPV %> </td>
    <td> <%= @lyPPV %> </td>
    <td> <%= (((@tyPPV - @lyPPV) / @lyPPV)*100).round(2) %>% </td>
  </tr>

    <tr class= <%= @Brow_color %>>
    <td>Bounce Rate: </td>
    <td> <%= @tyBounce %>% </td>
    <td> <%= @lyBounce %>% </td>
    <td> <%= (((@tyBounce - @lyBounce) / @lyBounce)*100).round(2) %>% </td>
  </tr>

    <tr class= <%= @VDrow_color %>>
    <td>Visit Duration: </td>
    <td> <%= @avgTYVisitDuration %> </td>
    <td> <%= @avgLYVisitDuration %> </td>
    <td> <%= (((@avgTYVD - @avgLYVD) / @avgLYVD)*100).round(2) %>% </td>
  </tr>

</table>


<br><br>
Top Traffic Sources:
<table class="table table-striped">
  <th></th><th>Source</th><th>%</th><th>Time on Site</th>
  <tr>
    <td>1: </td>
    <td> TBD </td><td> TBD </td><td> TBD </td>
  </tr>
<!--   <tr>
    <td>2: </td>
    <td> source 2 </td><td> number 2 </td><td> number 3 </td>
  </tr>
  <tr>
    <td>3: </td>
    <td> source 3 </td><td> number 2 </td><td> number 3 </td>
  </tr>
    <tr>
    <td>4: </td>
    <td> source 4 </td><td> number 2 </td><td> number 3 </td>
  </tr>
    <tr>
    <td>5: </td>
    <td> source 5 </td><td> number 2 </td><td> number 3 </td>
  </tr> -->
</table>

<br><br><br>

