<a href="/weekly" class="btn btn-primary btn" role="button">Weekly</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/monthly" class="btn btn-primary btn" role="button">Monthly</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/yearly" class="btn btn-primary btn" role="button">Yearly</a>

<h2>Month To Date</h2>
<%= @MTD %> to <%= @today %> &nbsp;&nbsp;<strong>vs</strong>&nbsp;&nbsp; <%= @MTD2 %> to <%= @MTD3 %>


<br><br>

<h2>Month Over Month</h2>
<%= @LM %> to <%= @today %> &nbsp;&nbsp;<strong>vs</strong>&nbsp;&nbsp; <%= @LM2 %> to <%= @LM3 %>
