<a href="/weekly" class="btn btn-primary btn" role="button">Weekly</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/monthly" class="btn btn-primary btn" role="button">Monthly</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/yearly" class="btn btn-primary btn" role="button">Yearly</a>

<h2>Week Over Week</h2>
<%= @LW %> to <%= @today %> &nbsp;&nbsp;<strong>vs</strong>&nbsp;&nbsp; <%= @LW2 %> to <%= @LW3 %>

<br><br><br>
<%= @result.inspect %>
