<a href="/weekly" class="btn btn-primary btn" role="button">Weekly</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/monthly" class="btn btn-primary btn" role="button">Monthly</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/yearly" class="btn btn-primary btn" role="button">Yearly</a>

<h2>Week Over Week</h2>
<%= @LW_month %>/<%= @LW_day %>/<%= @LW_year %> - <%= @today_month %>/<%= @today_day %>/<%= @today_year %> vs <%= @LW2_month %>/<%= @LW2_day %>/<%= @LW2_year %> - <%= @LW3_month %>/<%= @LW3_day %>/<%= @LW3_year %>