<a href="/weekly" class="btn btn-primary btn" role="button">Weekly</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/monthly" class="btn btn-primary btn" role="button">Monthly</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/yearly" class="btn btn-primary btn" role="button">Yearly</a>

<h2>Year To Date</h2>
<%= @YTD_month %>/<%= @YTD_day %>/<%= @YTD_year %> - <%= @today_month %>/<%= @today_day %>/<%= @today_year %> vs <%= @YTD2_month %>/<%= @YTD2_day %>/<%= @YTD2_year %> - <%= @YTD3_month %>/<%= @YTD3_day %>/<%= @YTD3_year %>

<br><br>
<h2>Year Over Year</h2>
<%= @LY_month %>/<%= @LY_day %>/<%= @LY_year %> - <%= @today_month %>/<%= @today_day %>/<%= @today_year %> vs <%= @LY2_month %>/<%= @LY2_day %>/<%= @LY2_year %> - <%= @LY3_month %>/<%= @LY3_day %>/<%= @LY3_year %>