<!DOCTYPE html>
<html>
<head>
  <title>LabsReport</title>

  <!-- Bootstrap! from http://getbootstrap.com/getting-started/ -->
  <!-- put your Bootstrap CSS links above the stylesheet_link_tag -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- put your Bootstrap Javacsript link below the javascript_include_tag -->
  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body class="container">

	  <div class='pull-right'>
    <% if current_user %>
      Today is <%= @weekday %>, <%= @header_today %>| Logged in as <%= current_user.first_name %> <%= current_user.last_name %> | <%= link_to "Logout", '/logout' %>

        <br>
    <a href="/weekly" class="btn btn-primary btn" role="button">Weekly</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/monthly" class="btn btn-primary btn" role="button">Monthly</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/yearly" class="btn btn-primary btn" role="button">Yearly</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/mcweekly" class="btn btn-warning btn" role="button">MC Weekly</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/mcmonthly" class="btn btn-warning btn" role="button">MC Monthly</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/mcyearly" class="btn btn-warning btn" role="button">MCYearly</a>&nbsp;&nbsp;&nbsp;&nbsp;

    <% end %>
  </div>

  <h2><%= link_to 'The LabsReport', '/report' %></h2>

<%= yield %>

</body>
</html>
